<!DOCTYPE html>
<html>

	<head>
	    <title>Sugarfree</title>
	        <meta charset="utf-8"/>
	  
	      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	        <link href='https://fonts.googleapis.com/css?family=Pacifico:300,400,700' rel='stylesheet' type='text/css'>
	        <link rel="stylesheet" type="text/css" href="/css/start.css">
	        <link rel="icon" type="image/png" href="img/fav.png">
	</head>

	<body>
	    <header class="container">
	  	     <div class="row">
	  	     	<div class="col-sm-4">
	  	     		<h1 class="col-sm-4">Sugarfree</h1>
	  	     	</div>
	            	
	            <div class="col-sm-8 text-right">
	            	<nav>
	                	<form action="fowardSignup" method="get">
      						<input type="submit" id="navSignup" value="sign up"></input>
      					</form>
	                </nav>
	            </div>
	                
	         </div>
	 	</header>
	
  	<section class="jumbotron">
      	<div class="container">
          <div class="row">
          	<div class="col-sm-4">
          		<h3>Hello, please sign in</h3>
                <form id="startForm" action="signin" method="post">
				Email address<br>
				<input type="text" id="startUsername" name="startUsername">
				<br><br>
				Password<br>
				<input type="password" id="startPassword" name="startPassword">
				<br><br>
				<input type="submit" id="submitButton" value="sign in"></input>
				</form><br>
				<p>
				<%= meldung %>	
				</p>
				
          	</div>
          	
          	<div class="col-sm-8 text-right">
          		<h2>with <span style="font-family:'Pacifico';color:black">Sugarfree</span><br>we will help you<br>to manage your<br>blood sugar</h2>
          	</div>
          </div>
        </div>
 	</section>
	
	</body>
</html>

